<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>controlador.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarAdmin</servlet-name>
        <servlet-class>controlador.VerificarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUsuario</servlet-name>
        <servlet-class>controlador.VerificarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarAdmin</servlet-name>
        <url-pattern>/VerificarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUsuario</servlet-name>
        <url-pattern>/VerificarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
